# nodejs & npm
npm-debug.log*

debug.html

# dependencies
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#!.yarn/cache
.pnp.*

# python
*.pyc

# vscode, idea, sublime
.idea/**
.vscode/**
!/.vscode/launch.json
!/.vscode/settings.json
*.sublime-project
*.sublime-workspace

# artifacts
/lib/
/dist/
/src/**/*.js
/src/**/*.d.ts
/website/docs/api/
/website/versioned_docs/**/api/
/website/build
/website/.docusaurus
/website/.cache-loader
/website/.previous-typings-cache/*.d.ts
/website/versions.d.ts

!/src/typings/**/*.d.ts

# graphics tests out data
/tests/e2e/graphics/.gendata/
tests/e2e/coverage/.gendata

# memleak log output
tests/e2e/memleaks/.logs/
